body {
  text-align: center;
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-direction: row;
  flex-wrap: wrap;
  /* background: url('/images/pantry_pic.jpg') no-repeat center fixed !important;  */
  background-size: cover;
}

#homePage {
  background-color: lightslategrey;
  /* padding: 0 40px; */
  /* margin: 0 250px; */
}
#homePage p {
  background-color: grey;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
